.selectionFilterClosed {
  border: 1px solid #D1D5DB; /* border-gray-300 */
  border-radius: 0.5rem; /* rounded-lg */
  background-color: #F9FAFB; /* bg, -gray-50 */
  display: none;
  margin-bottom: 0.5rem;
  min-height: none; /* min-h-10 */
}

.selectionFilter {
  border: 1px solid #D1D5DB; /* border-gray-300 */
  border-radius: 0.5rem; /* rounded-lg */
  background-color: #F9FAFB; /* bg, -gray-50 */
  display: none;
  margin-bottom: 0.5rem;
  min-height: 10em; /* min-h-10 */
}

/* Show filter section only on medium screens and up */
@media (min-width: 768px) {
  .selectionFilter {
    display: block;
  }
  .selectionFilterClosed {
    display: block;
  }
}

.toggleButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem; /* p-3 */
  background-color: #E5E7EB; /* bg-gray-200 */
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: background-color 0.2s;
}

.toggleButton:hover {
  background-color: #D1D5DB; /* hover:bg-gray-300 */
}

.title {
  font-weight: 600; /* font-semibold */
  color: #1F2937; /* text-gray-800 */
}

.itemsContainer {
  margin-top: 0.5rem; /* mt-2 */
  padding-left: 1rem; /* pl-4 */
  padding-right: 1rem; /* pr-4 */
  margin-bottom: 0.5em;
}

.searchContainer {
  position: relative;
  margin-bottom: 0.75rem;
  padding-right: 0.5rem;
}

.searchInput {
  width: 100%;
  padding: 0.5rem;
  padding-left: 2rem; /* Space for the search icon */
  border: 1px solid #D1D5DB;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  background-color: white;
}

.searchInput:focus {
  outline: none;
  border-color: #60A5FA;
  box-shadow: 0 0 0 2px rgba(96, 165, 250, 0.2);
}

.searchIcon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: #6B7280;
  pointer-events: none;
}

.itemLabel {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* grid-cols-7 */
  padding-top: 0.25rem; /* py-1 */
  padding-bottom: 0.25rem;
}

.checkbox {
  width: 1rem; /* w-4 */
  grid-column: span 1;
}

.itemName {
  font-weight: 400; /* font-normal */
  font-size: 0.75rem; /* text-xs */
  color: #374151; /* text-gray-700 */
  grid-column: span 6;
}

.footerContainer {
  margin-top: 0.5rem; /* mt-2 */
  padding-bottom: 0.5rem;
}

.footerButton {
  color: #4B5563; /* text-gray-600 */
  font-size: 0.875rem; /* text-sm */
  background: none;
  border: none;
  cursor: pointer;
}

.footerButton:hover {
  color: #1F2937; /* text-gray-800 */
}